
@font-face {
  font-family: "Pacifico-Regular";
  font-display: swap;
  src: url("./font/Pacifico-Regular.ttf") ;
}

@font-face {
  font-family: "hanyiganlan";
  font-display: swap;
  src: url("./font/hanyiganlan.ttf") ;
}